In [36]:
import pandas as pd

In [63]:
df = pd.read_csv(r"C:\Users\rizky\Semester_3\Data_Science\calon_tni.csv")

print('=== Data Calon TNI ===')
print(df)

print('\n=== Statistik Dasar Tinggi Badan ===')
print(df['tinggi'].describe())

print('Rata-rata tinggi : 175.70 cm')
print('Tertinggi : 185 cm')
print('Terendah : 160 cm')
print('Median: 178.0 cm')

print('\n=== Calon di atas rata-rata tinggi ===')
df_mean = df[df['tinggi'] > 175.70]
print(df_mean)

print('\n=== Urutan dari Tertinggi ke Terendah ===')
df_sort = df.sort_values(by='tinggi', ascending=False)
print(df_sort)

print('\n=== Data dengan Kategori ===')
def kategori_tinggi(x):
    if x >= 180:
        return 'Tinggi'
    elif x >= 170:
        return 'Sedang'
    else:
        return 'Pendek'

df['kategori'] = df['tinggi'].apply(kategori_tinggi)
print(df)

print("\n=== Jumlah Calon per Kategori ===")
print(df['kategori'].value_counts())

print("\n=== Statistik Lanjutan ===")
print("Standar Deviasi :", round(df['tinggi'].std(), 2))
print("Variansi :", round(df['tinggi'].var(), 2))

print("\n=== Calon dengan Tinggi Badan Tertinggi ===")
tertinggi = df.loc[df['tinggi'].idxmax()]
print("Nama   :", tertinggi['nama'])
print("Alamat :", tertinggi['alamat'])
print("Tinggi :", tertinggi['tinggi'], "cm")

=== Data Calon TNI ===
    nama                    alamat  tinggi
0   Andi        Jl. Merdeka No. 10     175
1   Budi        Jl. Sudirman No. 5     178
2  Citra        Jl. Thamrin No. 20     180
3   Dewi  Jl. Gatot Subroto No. 20     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
8  Indah        Jl. Senanyan No. 9     178
9  Jilan        Jl. Kuningan No. 2     160

=== Statistik Dasar Tinggi Badan ===
count     10.000000
mean     175.700000
std        7.645623
min      160.000000
25%      171.250000
50%      178.000000
75%      180.000000
max      185.000000
Name: tinggi, dtype: float64
Rata-rata tinggi : 175.70 cm
Tertinggi : 185 cm
Terendah : 160 cm
Median: 178.0 cm

=== Calon di atas rata-rata tinggi ===
    nama                    alamat  tinggi
1   Budi        Jl. Sudirman No. 5     178
2  Citra        Jl. Thamrin No. 20     180
3   Dewi  Jl. Gatot Subroto No. 20     180
4    Eka     Jl. Rasuna Said No. 8     183
5  Fajar       Jl. Kuningan No. 12     185
8  Indah        Jl. Senanyan No. 9     178

=== Urutan dari Tertinggi ke Terendah ===
    nama                    alamat  tinggi
5  Fajar       Jl. Kuningan No. 12     185
4    Eka     Jl. Rasuna Said No. 8     183
3   Dewi  Jl. Gatot Subroto No. 20     180
2  Citra        Jl. Thamrin No. 20     180
8  Indah        Jl. Senanyan No. 9     178
1   Budi        Jl. Sudirman No. 5     178
0   Andi        Jl. Merdeka No. 10     175
6   Gina          Jl. Cikini No. 3     170
7   Hadi        Jl. Palmerah No. 7     168
9  Jilan        Jl. Kuningan No. 2     160

=== Data dengan Kategori ===
    nama                    alamat  tinggi kategori
0   Andi        Jl. Merdeka No. 10     175   Sedang
1   Budi        Jl. Sudirman No. 5     178   Sedang
2  Citra        Jl. Thamrin No. 20     180   Tinggi
3   Dewi  Jl. Gatot Subroto No. 20     180   Tinggi
4    Eka     Jl. Rasuna Said No. 8     183   Tinggi
5  Fajar       Jl. Kuningan No. 12     185   Tinggi
6   Gina          Jl. Cikini No. 3     170   Sedang
7   Hadi        Jl. Palmerah No. 7     168   Pendek
8  Indah        Jl. Senanyan No. 9     178   Sedang
9  Jilan        Jl. Kuningan No. 2     160   Pendek

=== Jumlah Calon per Kategori ===
kategori
Sedang    4
Tinggi    4
Pendek    2
Name: count, dtype: int64

=== Statistik Lanjutan ===
Standar Deviasi : 7.65
Variansi : 58.46

=== Calon dengan Tinggi Badan Tertinggi ===
Nama   : Fajar
Alamat : Jl. Kuningan No. 12
Tinggi : 185 cm

In [64]:
print("\n=== Deteksi Masalah Data ===")
print(df.isnull().sum())
print("Jumlah duplikat:", df.duplicated().sum())

=== Deteksi Masalah Data ===
nama        0
alamat      0
tinggi      0
kategori    0
dtype: int64
Jumlah duplikat: 0

In [65]:
print("\n=== Imputasi Data ===")
print("Tidak ada data yang hilang, jadi tidak perlu imputasi.")

=== Imputasi Data ===
Tidak ada data yang hilang, jadi tidak perlu imputasi.